.Template {
  display: flex;
}

small {
  color: red;
}

.Template__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Template__label {
  font-size: 1rem;
  color: darkgrey;
  font-weight: 400;
}

.Template__input {
  height: 20px;
  width: 230px;
  margin: 10px;
}

.Template__confirm {
  width: 120px;
  height: 40px;
  background: deeppink;
  color: white;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.Template__confirm:disabled {
  background: lightpink;
}
