<div class="Reactive">
	<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
		<div class="Reactive__section">
			<label class="Reactive__label" for="username">Enter username</label>
			<input class="Reactive__input" name="username" type="email" formControlName="username">
      <small *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.dirty">Email is required</small>
      <label class="Reactive__label" for="password">Enter password</label>
			<input class="Reactive__input" name="password" type="password" formControlName="password">
      <small *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty">Must have at least 6 characters</small>
      <button class="Reactive__confirm" [disabled]="!registerForm.valid">Confirm</button>
		</div>
	</form>
</div>
