<div class="Register">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="Register__section">
      <label class="Register__label" for="username">Enter username</label>
      <input class="Register__input" name="username" type="email" [(ngModel)]="register.username" required #username="ngModel">
      <small *ngIf="username.errors && (username.dirty || username.touched)">Must be a valid email</small>
      <label class="Register__label" for="password">Enter password</label>
      <input class="Register__input" name="password" type="password" minlength="6" [(ngModel)]="register.password" required #password="ngModel">
      <small *ngIf="password.errors && (password.dirty || password.touched)">Must have at least 6 characters</small>
      <button class="Register__confirm" [disabled]="!registerForm.valid">Confirm</button>
    </div>
  </form>
</div>
